

.banner{
    display: flex;
    background-color: black;
    width: 1321px;
    border-radius: 9px;
    margin-top: 50px;
    margin-left: 140px;
    
}

.great-show {
    width: 531px;
    color: white;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 106px;
    padding-top: 80px;
}

.btn{
    background-color: rgb(251, 15, 15);
    border: none;
    padding:10px 25px;
    color: beige;
    font-weight: 600;
}


.marcelo img{
    height: 613px;  
    margin-top: 33px;
    margin-left: 50px;
    margin-right: 79px;
}



aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 312px;
    max-height: 270px;
    margin-left: 140px;
    margin-top: 22px;
    border-radius: 15px;
}
aside a{
    text-decoration: none;
    text-align: center;
    margin: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


.container{
    display: flex;
}

.container-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6%;
}

.box{
    
    border: 1px solid black;
    margin-left: 15%;
    margin-top: 10%;
    width: 75%;
    padding: 0% 10%;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.flag{
    margin-top: 10%;
}
.another{
    margin-top: 60%;
}

.detail{
    margin-left: 25px;
}

/* footer */
#goal{
    
    text-align: center; 
    padding-top: 5%;
    margin-top: 60px;
}
.footer-part-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 50%;
    padding-bottom: 50px;
}

.final{
    background-color: gray;
    height:300px

}
/* mobile viwe */

@media only screen and (max-width:688px) {
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
   .marcelo img{
    width: 60%;
    height: 50%;
   }
   .great-show{
    width: 50%;

   }
   .container{
    flex-direction: column;
   }
   .container-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);   
   }
   .card{
    justify-items: center;
    align-items: center;
   }
   .another{
    margin-bottom: 40%;
   }
   .footer-part-2{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding-top: 50px;
  }
  .final{
    height: fit-content;
  }

}

/* tablet view */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
}
}