/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* commom style */

body {
    font-family: 'Poppins', sans-serif;
}

/* Top Banner */

.banner{
    display: flex;
    background-color: black;
    width: 1321px;
    border-radius: 9px;
    margin-top: 50px;
    margin-left: 140px;
    
}

.great-show {
    width: 531px;
    color: white;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 106px;
    padding-top: 80px;
}

.btn{
    background-color: rgb(251, 15, 15);
    border: none;
    padding:10px 25px;
    color: beige;
    font-weight: 600;
}


.marcelo img{
    height: 613px;  
    margin-top: 33px;
    margin-left: 50px;
    margin-right: 79px;
}

/* Blog Section */

.container{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 312px;
    max-height: 270px;
    margin-left: 140px;
    margin-top: 22px;
    border-radius: 15px;
}
aside a{
    text-decoration: none;
    text-align: center;
    margin: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cards{
    width: 312px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    margin-left: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
    
}

.blogs{
    border-bottom: 1px solid grey;
    border-left:1px solid grey ;
    border-right:1px solid grey ;
    border-radius: 10px;
 
}
.blog-p{
    border: 1px solid black;
    width: 50px;
    margin-left: 10px;
}
.-blog-detail{
    margin-right:3px;
    margin-left: 10px;
}
.fa-regular{
    margin-left: 10px;
}


 /* Footer  */

 .footer{
    background-color: grey;
    height: 600px;
    margin-top: 100px;
    padding-top: 50px;
    
 }

#goal{
    
    text-align: center; 
}
.footer-part-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.social{
    text-align: center;
    margin-inline: 40%;
    display: flex;
    
}

.fa-linkedin  {
    font-size: large;
    color: rgb(40, 109, 136);
    text-align: center;
    background-color: white;
    
}
.fa-twitter{
    font-size: large;
    color: rgb(23, 138, 238);
    background-color: rgb(250, 250, 250);  
}


/* Media Queries */

/* ----------Mobile Device--------- */

@media only screen and (max-width:688px) {
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
   .marcelo img{
    width: 60%;
    height: 50%;
   }
   .great-show{
    width: 50%;

   }
   .container{
    flex-direction: column;
   }
   .cards{
    grid-template-columns: repeat(1, 1fr);
   }
   .footer-part-2{
    
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     text-align: center;
     padding-top: 50px;
   }
   .fa-linkedin  {
    font-size: xx-large;
    color: rgb(40, 109, 136);
    text-align: center;
   }
   
   .fa-twitter  {
    font-size: xx-large;
    color: rgb(40, 109, 136);
    text-align: center;
   }
   .social{
    flex-direction: column;
   }
}